<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  {{template "head.html"}}
  <title>qq - Search</title>
</head>
<body>
  <main>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold mb-3">qq</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Search your markdown files.</p>
        <form role="search" action="/search" method="get">
          <div class="input-group input-group-lg">
            <input type="search" class="form-control" placeholder="Search..."
              aria-label="Search" name="q" autocomplete="off" autofocus>
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
