<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  {{template "head.html"}}
  <title>qq - Search</title>
</head>
<body>

  <main>
    <h1 class="visually-hidden">qq - Search your markdown files</h1>

    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="/assets/img/logo.svg" alt="qq logo" width="72" height="57">
      <h1 class="display-5 fw-bold">qq</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Search your markdown files</p>

        <div class="justify-content-sm-center">
          <form role="search" action="/search" method="get">
            <div class="input-group input-group-lg">
              <input id="search-form" type="search" class="form-control" placeholder="Search..."
                aria-label="Search" name="q" autocomplete="off" autocorrect="off"
                spellcheck="false" autocapitalize="none" autofocus>
              <span class="input-group-text d-none d-lg-block"><small>Ctrl + /</small></span>
            </div>
            <button type="submit" class="d-none">Search</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  {{template "scripts.html"}}
  {{template "header_scripts.html"}}

</body>
</html>
