<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  {{template "head.html"}}
  <link href="/assets/read.css" rel="stylesheet">
  <title>qq - {{.Title}}</title>
</head>
<body>

  <main>
    <div class="container">

      {{template "header.html" .}}

      <article>
        <div class="row text-center mb-4">
          <h1>{{.Title}}</h1>
          <div class="row row-cols-auto justify-content-center">
            <div class="col border-end">
              {{if .Author}}by {{.Author}},{{end}}
              {{if not .Updated.IsZero}}{{.Updated | toTimeAgo}}{{end}}
            </div>
            {{if .URL}}
            <div class="col">
              <a href="{{.URL}}" target="_blank" rel="noopener" class="text-muted me-1">original</a>
              {{if .Path}}{{template "filepath.html" .Path}}{{end}}
            </div>
            {{end}}
            {{if and .Path (not .URL)}}
            <div class="col">
              {{template "filepath.html" .Path}}
            </div>
            {{end}}
          </div>
          {{if or .Source .Tags}}
          <div class="row mt-1">
            <div class="col">
              {{if .Source}}{{template "source.html" .Source}}{{end}}
              {{range .Tags}}
                {{template "tag.html" .}}
              {{end}}
            </div>
          </div>
          {{end}}
        </div>
        <div class="article-content">
          {{.HTMLContents}}
        </div>
      </article>

      {{template "footer.html"}}

    </div>
  </main>

  {{template "scripts.html"}}
  {{template "header_scripts.html"}}

  <script src="/assets/vendor/anchor.min.js"></script>

  <script>
    'use strict';

    const fixImgWidth = (img) => {
      if (img.naturalWidth <= 300) return;
      if (img.classList.contains('img-fluid')) return;
      img.classList.add('img-fluid');
      img.style.width = '100%';
    };

    document.addEventListener('DOMContentLoaded', () => {
      anchors.add('article h1, article h2, article h3, article h4, article h5, article h6');
    });

    document.querySelectorAll('article img').forEach(img => {
      img.addEventListener('load', () => fixImgWidth(img));
    });

    window.addEventListener('load', () => {
      document.querySelectorAll('article img').forEach(fixImgWidth);
    });
  </script>

</body>
</html>
