<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  {{template "head.html"}}
  {{if .Query}}
    <title>{{.Query}} - qq search</title>
  {{else}}
    <title>qq search</title>
  {{end}}
</head>
<body>

  <main>
    <div class="container">

      {{template "header.html" .}}

      <div>
        <div class="mb-2 ms-3 text-muted">{{.Total}} results ({{.Took | displayDuration}})</div>
        {{range .Hits}}
        <div class="card mb-2">
          <div class="card-body">
            <a href="/read/{{.ID}}" class="text-decoration-none"><h5 class="card-title">{{.Title}}</h5></a>
            {{if .Excerpt}}
              <p class="card-text text-muted small">{{.Excerpt}}</p>
            {{end}}
          </div>
          {{if .Fragments}}
          <ul class="list-group list-group-flush">
            {{range .Fragments}}
              <li class="list-group-item small">{{. | safeHTML}}</li>
            {{end}}
          </ul>
          {{end}}
          <div class="card-footer">
            <div class="row row-cols-auto">
              <div class="col">
                {{if .Source}}{{template "source.html" .Source}}{{end}}
                {{range .Tags}}
                  {{template "tag.html" .}}
                {{end}}
              </div>
              {{if not .Updated.IsZero}}
              <div class="col border-start">
                <small>{{.Updated | toTimeAgo}}</small>
              </div>
              {{end}}
            </div>
          </div>
        </div>
        {{end}}
      </div>

      {{if .Total}}
        {{template "footer.html"}}
      {{end}}

    </div>
  </main>

  {{template "scripts.html"}}
  {{template "header_scripts.html"}}

</body>
</html>
